<center>
<img src="../../img/ods_stickers.jpg">
## Open Course on Machine Learning
<center>
Material author: Yuri Kashnitsky, programmer-researcher at Mail.Ru Group <br>

The material is distributed under the terms of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. It can be used for any purpose (edit, correct and take as a basis), except for commercial, but with the obligatory mention of the author of the material.

# <center>Homework #1 (demo).<br> UCI Adult Income Analysis</center>

**The assignment asks Pandas to answer a few questions based on the UCI repository [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (no need to download the data - it is already in the repository).**

Unique feature values (more information at the link above):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (feature *sex*) are represented in this dataset?**

In [ ]:
print(data['sex'].value_counts())

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (feature *age*) of women?**

In [ ]:
female = data.loc[data['sex'] == 'Female']
f_mean = female.loc[:, 'age'].mean()
print(int(f_mean))

36

**3. What is the proportion of German citizens (feature *native-country*)?**

In [ ]:
print(data['native-country'].value_counts(normalize=True)['Germany'] * 100, '%')

0.42074874850281013 %

**4-5. What are the means and standard deviations of the age of those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [ ]:
std_mean = data.groupby(['salary']).agg({'age': {'mean', 'std'}})
std_mean['age'] = std_mean['age'].astype(int)
print(std_mean)

        age
       mean std
salary
<=50K    36  14
>50K     44  10

**6. Is it true that people who make more than 50k have at least a college degree? (feature *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [ ]:
res = data[(data['salary'] == '<=50K') & (~data['education'].isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']))].empty
print("This statement is:", res)

This statement is: False

**7. Print age statistics for each race (feature *race*) and each gender. Use *groupby* and *describe*. Find in this way the maximum age of men of the race *Amer-Indian-Eskimo*.**

In [ ]:
s = data.groupby(['race', 'sex']).describe()['age'].astype(int)
print(s)
print("The maximum age for men of the race Amer-Indian-Eskimo:", s.loc['Amer-Indian-Eskimo', 'Male']['max'])

                           count  mean  std  min  25%  50%  75%  max
race               sex
Amer-Indian-Eskimo Female    119    37   13   17   27   36   46   80
                   Male      192    37   12   17   28   35   45   82
Asian-Pac-Islander Female    346    35   12   17   25   33   43   75
                   Male      693    39   12   18   29   37   46   90
Black              Female   1555    37   12   17   28   37   46   90
                   Male     1569    37   12   17   27   36   46   90
Other              Female    109    31   11   17   23   29   39   74
                   Male      162    34   11   17   26   32   42   77
White              Female   8642    36   14   17   25   35   46   90
                   Male    19174    39   13   17   29   38   49   90
The maximum age for men of the race Amer-Indian-Eskimo: 82

**8. Among whom is the share of those who earn a lot (> 50K) higher: among married or single men (feature *marital-status*)? We consider married those whose *marital-status* begins with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered single.**

In [ ]:
ms = data.copy()
ms['marital-status'] = ms['marital-status'].apply(lambda state: 'married' if state in ['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse'] else 'single')
marital_status = ms[(ms['salary'] == '>50K') & (ms['sex'] == 'Male')]['marital-status'].value_counts(normalize=True)
print("Married men earn more" if marital_status['married'] > marital_status['single'] else "Single men earn more")

Married men earn more

**9. What is the maximum number of hours a person works per week (feature *hours-per-week*)? How many people work that many hours and what is the percentage of them earning a lot?**

In [ ]:
hpw = data.copy()
hpw_max = ms['hours-per-week'].max()
hpw_count = len(ms[ms['hours-per-week'] == hpw_max].index)
hpw_percent = ms[ms['salary'] == '>50K']['hours-per-week'].value_counts(normalize=True)[hpw_max] * 100
print(f"Maximum {hpw_max} hours a person works per week. {hpw_count} people work that number of hours. Among them {hpw_percent}% earn a lot.")

Maximum 99 hours a person works per week. 85 people work that number of hours. Among them 0.3188368830506313% earn a lot.

**10. Calculate the average working time (*hours-per-week*) of low-earners and high-earners (*salary*) for each country (*native-country*).**

In [ ]:
nc = data.copy()
pd.set_option('display.max_rows', nc.shape[0]+1)
nc.groupby(['native-country', 'salary'])['hours-per-week'].mean()

native-country              salary
?                           <=50K     40.164760
                            >50K      45.547945
Cambodia                    <=50K     41.416667
                            >50K      40.000000
Canada                      <=50K     37.914634
                            >50K      45.641026
China                       <=50K     37.381818
                            >50K      38.900000
Columbia                    <=50K     38.684211
                            >50K      50.000000
Cuba                        <=50K     37.985714
                            >50K      42.440000
Dominican-Republic          <=50K     42.338235
                            >50K      47.000000
Ecuador                     <=50K     38.041667
                            >50K      48.750000
El-Salvador                 <=50K     36.030928
                            >50K      45.000000
England                     <=50K     40.483333
                            >50K      44.533333
France                      <=50K     41.058824
                            >50K      50.750000
Germany                     <=50K     39.139785
                            >50K      44.977273
Greece                      <=50K     41.809524
                            >50K      50.625000
Guatemala                   <=50K     39.360656
                            >50K      36.666667
Haiti                       <=50K     36.325000
                            >50K      42.750000
Holand-Netherlands          <=50K     40.000000
Honduras                    <=50K     34.333333
                            >50K      60.000000
Hong                        <=50K     39.142857
                            >50K      45.000000
Hungary                     <=50K     31.300000
                            >50K      50.000000
India                       <=50K     38.233333
                            >50K      46.475000
Iran                        <=50K     41.440000
                            >50K      47.500000
Ireland                     <=50K     40.947368
                            >50K      48.000000
Italy                       <=50K     39.625000
                            >50K      45.400000
Jamaica                     <=50K     38.239437
                            >50K      41.100000
Japan                       <=50K     41.000000
                            >50K      47.958333
Laos                        <=50K     40.375000
                            >50K      40.000000
Mexico                      <=50K     40.003279
                            >50K      46.575758
Nicaragua                   <=50K     36.093750
                            >50K      37.500000
Outlying-US(Guam-USVI-etc)  <=50K     41.857143
Peru                        <=50K     35.068966
                            >50K      40.000000
Philippines                 <=50K     38.065693
                            >50K      43.032787
Poland                      <=50K     38.166667
                            >50K      39.000000
Portugal                    <=50K     41.939394
                            >50K      41.500000
Puerto-Rico                 <=50K     38.470588
                            >50K      39.416667
Scotland                    <=50K     39.444444
                            >50K      46.666667
South                       <=50K     40.156250
                            >50K      51.437500
Taiwan                      <=50K     33.774194
                            >50K      46.800000
Thailand                    <=50K     42.866667
                            >50K      58.333333
Trinadad&Tobago             <=50K     37.058824
                            >50K      40.000000
United-States               <=50K     38.799127
                            >50K      45.505369
Vietnam                     <=50K     37.193548
                            >50K      39.200000
Yugoslavia                  <=50K     41.600000
                            >50K      49.500000
Name: hours-per-week, dtype: float64